<div fxLayout="row" fxLayoutAlign="center center" *ngIf="!user; else divUser">
  <mat-spinner></mat-spinner>
</div>

<ng-template #divUser>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
    <div fxFlex="20">
      <h1>
        {{ user.username }} <small>- {{ user.name }} {{ user.surnames }}</small>
      </h1>
      <mat-divider></mat-divider>
      <br />
      <img [src]="user | image" [alt]="user.username" />
    </div>
    <div fxFlex>
      <h1>Data</h1>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>Email: {{ user.email }}</mat-list-item>
        <mat-list-item>Age: {{ user.age }}</mat-list-item>
        <mat-list-item>Active: {{ user.active ? "Yes" : "No" }}</mat-list-item>
        <mat-list-item
          >Last logging: {{ user.lastLogging | date }}</mat-list-item
        >
        <mat-list-item
          >Creation date: {{ user.creationDate | date }}</mat-list-item
        >
      </mat-list>
      <br />
      <button mat-raised-button (click)="back()">Back</button>
    </div>
  </div>
</ng-template>
